<div class="wrapper">
  <h1>Add New Lead</h1>
  <p>Close</p>

  <form [formGroup]="leadForm">

    <h3>Personal Info</h3>

    <div class="controls-wrapper">

      <div class="group-wrapper">
        <mat-form-field>
          <input matInput placeholder="Name" value="Bastian" formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Surname" formControlName="surname">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="address">
        </mat-form-field>
      </div>

      <div class="group-wrapper">

        <div formArrayName="emails">
          <ng-container *ngFor="let item of leadForm.get('emails').controls; let i = index;">
            <mat-form-field>
              <input matInput placeholder="Email" [formControlName]="i">
            </mat-form-field>
          </ng-container>
          <span (click)="addEmailItem()">Add</span>
        </div>

        <div formArrayName="phones">
          <ng-container *ngFor="let item of leadForm.get('phones').controls; let i = index;">
            <mat-form-field>
              <input matInput placeholder="Phone" [formControlName]="i">
            </mat-form-field>
          </ng-container>
        <span (click)="addPhoneItem()">Add</span>
        </div>

        <mat-form-field>
          <input matInput placeholder="Lead status" formControlName="status">
        </mat-form-field>
      </div>

      <div class="group-wrapper">
        <mat-form-field>
          <input matInput placeholder="Type of buyer" formControlName="buyer">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Lead source" formControlName="source">
        </mat-form-field>

        <div formArrayName="phones">
          <ng-container *ngFor="let item of leadForm.get('customs').controls; let i = index;">
            <mat-form-field>
              <input matInput placeholder="+Add custom field" [formControlName]="i">
            </mat-form-field>
          </ng-container>
        </div>
      </div>

    </div>

    <h3>Interests</h3>

    <div class="controls-wrapper interests">

      <div class="group-wrapper">
        <mat-form-field>
          <mat-label >Size/Square feet</mat-label>
          <mat-select>
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select>
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

  <button type="submit" (click)="submitForm()"> Submit </button>
  </form>
</div>

