.wrapper {
  padding: 10px;

  &.darken {
    opacity: 0.4;
  }

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      cursor: pointer;
      color: #3087FF;
      font-weight: 700;
      padding: 12px 20px;
      box-sizing: border-box;
      min-width: 80px;
      border: 1px solid #fff;
      border-radius: 5px;
      transition: border 0.3s ease;

      &:hover {
        border: 1px solid #3087FF;
      }
    }
  }

  form {

    .controls-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-gap: 20px;
      width: 100%;

      .group-wrapper {
        display: flex;
        flex-direction: column;

        div {
          position: relative;

          mat-form-field {
            width: 100%;
          }

          span {
            position: absolute;
            right: 0;
            top: 20px;
            cursor: pointer;
            color: #3087FF;
          }
        }
        &.feature {

          .mat-form-field {
            max-width: 360px;
          }
        }
      }

      .group-wrapper-inner {
        flex-direction: row;

        .mat-chip {
          margin-right: 10px;
          margin-bottom: 10px;
          background: #3087FF;
          color: #fff;

          &:last-child {
            margin-right: 0;
          }
          &.mat-standard-chip {
            .mat-chip-remove {
              color: #fff;
              opacity: .8;
            }
          }
        }
      }

      &.interests {
        grid-template-areas:
          "square budget found"
          "property apartment found"
          "beds baths found"
          "city year found"
          "date empty found";

        .group-wrapper {
          display: flex;
          flex-direction: row;

          &:nth-child(1) {
            grid-area: square;
          }
          &:nth-child(2) {
            grid-area: budget;
          }
          &:nth-child(3) {
            grid-area: found;
          }
          &:nth-child(4) {
            grid-area: property;
          }
          &:nth-child(5) {
            grid-area: apartment;
          }
          &:nth-child(6) {
            grid-area: beds;

            .wrapper {
              padding: 0;

              button {
                border: 1px solid #ccc;
                background: #fff;
                color: #5B5B5B;
                transition: background 0.3s ease, color 0.3s ease;

                &:hover {
                  background: #3087FF;
                  color: #fff;
                  border: 1px solid #3087FF;
                }
              }
            }
          }
          &:nth-child(7) {
            grid-area: baths;
          }
          &:nth-child(8) {
            grid-area: city;
          }
          &:nth-child(9) {
            grid-area: year;
          }
          &:nth-child(10) {
            grid-area: date;
          }
          &:nth-child(11) {
            grid-area: empty;
          }

            mat-form-field {

              &.half {
                width: 100%;

                &:first-child {
                  margin-right: 10px;
                }
              }
            }


          .found {
            background: #959595;
            color: #fff;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }

          &.twice {
            flex-direction: column;

            h4 {
              margin: 0;
            }

            .wrapper {
              background: #fff;
              color: #4e4e4e;
              display: flex;
              justify-content: space-between;

              span {
                position: static;

                &:after {
                  content: '|';
                }
              }
            }


            mat-form-field {
              width: 100%;
            }
          }

        }
      }

      &.features {
        grid-template-columns: 1fr 1fr;

        .group-wrapper {

          ::ng-deep .mat-form-field {

            input.mat-chip-input {
              width: 85%;
            }
          }

          span {
            cursor: pointer;
            color: #3087FF;
          }
        }

        mat-chip {
          max-width: 150px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        h4 {
          color: #5d5555;
          font-weight: 400;
        }

        .chip-wrapper {
          display: flex;
          flex-wrap: wrap;

          .chip {
            background-color: #e0e0e0;
            color: rgba(0,0,0,.87);
            transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
            padding: 7px 12px;
            border-radius: 16px;
            align-items: center;
            cursor: pointer;
            min-height: 18px;
            font-size: 14px;
            margin-right: 8px;
            margin-bottom: 10px;
          }
        }

      }
    }

    button {
      background: #3087FF;
      color: #fff;
      padding: 12px 30px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      outline: none;
      margin: 20px auto;
      transition: background 0.3s ease;
      line-height: 1.3;

      &:hover {
        background: darken(#3087FF, 5%);
      }

      &:disabled,
      &[disabled]{
        cursor: not-allowed;
        background: lighten(#3087FF, 10%);
      }
    }

  }
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
