.wrapper {
  padding: 10px;

  form {

    .controls-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-gap: 20px;
      width: 100%;

      .group-wrapper {
        display: flex;
        flex-direction: column;

        div {
          position: relative;

          mat-form-field {
            width: 100%;
          }

          span {
            position: absolute;
            right: 0;
            top: 20px;

          }
        }
        &.feature {
          .mat-form-field {
            max-width: 360px;
          }
        }
      }
      .group-wrapper-inner {
        flex-direction: row;
        .mat-chip {
          margin-right: 10px;
          margin-bottom: 10px;
          &:last-child {
            margin-right: 0;
          }
        }
      }

      &.interests {

        .group-wrapper {
          display: flex;
          flex-direction: row;

          div {
            position: relative;

            mat-form-field {
              width: 50%;
            }
          }

          .found {
            background: #959595;
            color: #fff;
            padding: 10px;
          }

          &.twice {
            flex-direction: column;

            h4 {
              margin: 0;
            }

            .wrapper {
              border: 1px solid #ccc;
              border-radius: 5px;
              background: #fff;
              color: #4e4e4e;
              display: flex;
              justify-content: space-between;

              span {
                position: static;

                &:after {
                  content: '|';
                }
              }
            }


            mat-form-field {
              width: 100%;
            }
          }

        }
      }

      &.features {
        grid-template-columns: 1fr 1fr;

        .group-wrapper {

          ::ng-deep .mat-form-field {

            mat-chip-list {

              .mat-chip-list-wrapper {

              }
            }
          }

          span {
            cursor: pointer;
            color: #3087FF;
          }
        }
      }
    }

    button {
      background: #3087FF;
      color: #fff;
      padding: 12px 30px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      outline: none;
      margin: 20px auto;
    }

  }

}
