<div class="wrapper" [class.darken]="isLoading">
  <div class="head">
    <h1>Add New Lead</h1>
    <p>Close</p>
  </div>

  <form [formGroup]="leadForm">

    <h3>Personal Info</h3>

    <div class="controls-wrapper">

      <div class="group-wrapper">
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Surname" formControlName="surname" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="address" required>
        </mat-form-field>
      </div>

      <div class="group-wrapper">

        <div formArrayName="emails">
          <ng-container *ngFor="let item of leadForm.get('emails').controls; let i = index;">
            <mat-form-field class="mat-form-wrapp">
              <input matInput placeholder="Email" type="email" [formControlName]="i">
              <div *ngIf="form.emails.controls[i]?.errors" class="invalid-feedback">
                <div *ngIf="form.emails.controls[i]?.errors.required && form.emails.controls[i]?.touched">Email is required</div>
                <div *ngIf="form.emails.controls[i]?.errors.email">Email must be a valid email address</div>
              </div>
            </mat-form-field>
          </ng-container>
          <span class="add" (click)="addEmailItem()">+ Add</span>
        </div>

        <div formArrayName="phones">
          <ng-container *ngFor="let item of leadForm.get('phones').controls; let i = index;">
            <mat-form-field>
              <input matInput placeholder="Phone" [formControlName]="i">
            </mat-form-field>
          </ng-container>
        <span (click)="addPhoneItem()">Add</span>
        </div>

        <mat-form-field>
          <input matInput placeholder="Lead status" formControlName="status">
        </mat-form-field>
      </div>

      <div class="group-wrapper">
        <mat-form-field>
          <input matInput placeholder="Type of buyer" formControlName="buyer">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Lead source" formControlName="source">
        </mat-form-field>

        <div formArrayName="phones">
          <ng-container *ngFor="let item of leadForm.get('customs').controls; let i = index;">
            <mat-form-field>
              <input matInput [disabled]="true" placeholder="+Add custom field" [formControlName]="i">
            </mat-form-field>
          </ng-container>
        </div>
      </div>

    </div>

    <h3>Interests</h3>

    <div class="controls-wrapper interests">

      <div class="group-wrapper">
        <div formArrayName="minsize">
          <mat-form-field class="half">
            <mat-label >Size/Square feet</mat-label>
            <mat-select (selectionChange)="addMinSizeItem($event.value)">
              <mat-option *ngFor="let min of minSize" [value]="min.value">
                {{ min.value }}<sub style="vertical-align: super;">2</sub>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div formArrayName="maxsize">
          <mat-form-field class="half">
            <mat-select (selectionChange)="addMaxSizeItem($event.value)">
              <mat-option *ngFor="let max of maxSize" [value]="max.value">
                {{ max.value }}<sub style="vertical-align: super;">2</sub>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>

      <div class="group-wrapper">
        <mat-form-field class="half">
          <mat-label >Budget</mat-label>
          <mat-select formControlName="budgetfrom">
            <mat-option *ngFor="let budget of budgetFrom" [value]="budget.value">
              {{ budget.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="half">
          <mat-select formControlName="budgetto">
            <mat-option *ngFor="let to of budgetTo" [value]="to.value">
              {{ to.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="group-wrapper">
        <div class="found">
          <i class="material-icons">check_circle</i>
          <h3>We found 3 items for you</h3>
          <p>Please, add more interests to help us find the most appropriate matched units.</p>
        </div>
      </div>

      <div class="group-wrapper twice">
        <mat-form-field>
          <mat-label >Property Type</mat-label>
          <mat-select formControlName="propertyType">
            <mat-option *ngFor="let prop of property" [value]="prop.value">
              {{ prop.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="group-wrapper twice">
        <mat-form-field>
          <mat-label >Apartment Type</mat-label>
          <mat-select formControlName="apartmentType">
            <mat-option *ngFor="let apartment of apartmentType" [value]="apartment.value">
              {{ apartment.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="group-wrapper twice">
        <h4>Beds</h4>
        <div class="wrapper">
          <button
            (click)="selectAll()"
            [class.selected] = '!this.selectedButtons.length'>All
          </button>

            <button *ngFor="let button of buttons"
                    (click) = ' button.check = !button.check; selectBeds(button)'
                    [class.selected] = 'selectedButtons.includes(button.name)'>{{ button.name }}
            </button>
        </div>
      </div>


      <div class="group-wrapper twice">
        <h4>Baths</h4>
      </div>

      <div class="group-wrapper twice">
        <mat-form-field>
          <mat-label >City/Neighborhod/Zip</mat-label>
          <mat-select formControlName="city">
            <mat-option *ngFor="let c of city" [value]="c.value">
              {{ c.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="group-wrapper twice">
        <mat-form-field>
          <mat-label >Year built</mat-label>
          <mat-select formControlName="yearBuilt">
            <mat-option *ngFor="let y of year" [value]="y.value">
              {{ y.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="group-wrapper twice">
        <mat-form-field >
          <input matInput formControlName="picker" [matDatepicker]="picker" placeholder="Move-in date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="group-wrapper"></div>

    </div>

    <h3>Preferable features</h3>

    <div class="controls-wrapper features">

      <div class="group-wrapper feature" formArrayName="features">

          <mat-form-field class="example-chip-list">

            <input placeholder="New feature..."
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="addChip($event)">
            <span (click)="addChip($event);">+ Add</span>
            <mat-chip-list #chipList aria-label="Find feature"></mat-chip-list>
          </mat-form-field>

        <div class="group-wrapper-inner">
            <mat-chip
              *ngFor="let feature of features"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="removeChip(feature)">
              {{ feature.name }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>

        </div>
      </div>

      <div class="group-wrapper feature">
        <h4>Select feature your lead might be interested in</h4>
        <div class="chip-wrapper">
          <div class="chip" *ngFor="let chip of chips">
            {{ chip.name }}
          </div>
        </div>
      </div>

    </div>

    <button mat-raised-button type="submit"
      (click)="submitForm()" [disabled]="!leadForm.valid">Submit</button>

  </form>

</div>

<div class="loading" *ngIf="isLoading">
  <img src="../assets/circle.gif" alt="loader">
</div>
