
$black: #000;
$dark-black: #111;

$white: #fff;

$blue: #3087FF;

$fire: #b22222;


$dark-red: #721c24;
$orangered: #FF4500;

$dark-green: #0C5460;

$danger-bg: #f8d7da;
$danger-border: #f5c6cb;

$success: #155724;
